
html, body {
    height: 100%;
    overflow: hidden;
  }
   
  body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #111;
    background: linear-gradient(#0c141f 40%, #cf33d9 41%, #0c141f 60%);
  }
   