
.card {
    background: linear-gradient(135deg,
    #1f005c, #5b0060, #870160, #ac255e,
    #ca485c, #e16b5c, #f39060, #ffb56b);
    /* margin: 40px; */
    padding: 5%;
    border-radius: 40px;

    width: 300px;
    height: 300px;

    position: absolute;
    top: 50% -150px;
    left: 50% -150px;
    z-index: 10;

    text-wrap: balance;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.card:hover {


    scale: 1.1;
}

@font-face {
    font-family: myFont;
    src: url("./resources/fonts/kognigear.regular.tff");

}


.fullName {
    font-size: x-large;
    color: white;
}

.job {
    padding-top: 30px;
    color: white;
    font-size: medium;
}

.socialLinks {

    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.social {
    width: 50px;
    height: 50px;
    fill: white;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.social:hover {
    fill: #cf33d9;
}

.phoneNumber {
    font-size: medium;
    padding-top: 30px;
}